Line, Rectangle, Circle, Ellipse, Arc {
	-fx-stroke-width: 10;
} 

#line1 {
	-fx-stroke: red;
}

#line2 {
	-fx-stroke: rgba(0%, 50%, 0%, 0.5);
	-fx-stroke-line-cap: round;
}

#rectangle {
	-fx-stroke: red;
	-fx-arc-width: 50;
	-fx-arc-height: 50;
	-fx-fill: yellow;
}

#circle {
	-fx-stroke: blue;
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, white, red);
}

Ellipse {
	-fx-stroke: green;
	-fx-fill: image-pattern("no/ntnu/imt3281/two_d_shapes/surfing.gif");
}

Arc {
	-fx-stroke: purple;
	-fx-fill: linear-gradient(to left, cyan, white);
}